.main
  .main-header
    %p.main-header__left__box__group-name
      = @group.name
    .main-header__left__box__na
      %p.main-header__left__box__group-member
        Member:
        - @group.users.each do |user|
          %li.member
            = user.name
    .main-header__right__box
      %p.main-header__right__box__edit-btn
        = link_to "Edit",edit_group_path(current_user),class:"dddd-btn"

  .message
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


 
